<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainy.module.web.mapper.ProjectRelevanceFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rainy.module.web.entity.ProjectRelevanceFile">
        <id column="relevance_id" property="relevanceId" />
        <result column="project" property="project" />
        <result column="project_structure_file" property="projectStructureFile" />
        <result column="project_count_file" property="projectCountFile" />
        <result column="project_relation_file" property="projectRelationFile" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        relevance_id, project, project_structure_file, project_count_file, project_relation_file
    </sql>

</mapper>
