<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainy.module.web.mapper.ProjectFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rainy.module.web.entity.ProjectFile">
        <id column="file_id" property="fileId" />
        <result column="is_delete" property="isDelete" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="file_name" property="fileName" />
        <result column="file_extension" property="fileExtension" />
        <result column="file_type" property="fileType" />
        <result column="file_url" property="fileUrl" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        is_delete,
        create_time,
        update_time,
        file_id, file_name, file_extension, file_type, file_url
    </sql>

</mapper>
